In [ ]:
#Before you begin, save a Copy of JUST the Datasheet tab and the Player Dictionary tab as separate CSVs, 
# you'll use these for this script

In [55]:
import pandas as pd
import numpy as np

In [56]:
#Import your Datasheet
nerdData = "Nurgle_Datasheet.csv"

nerdData_df = pd.read_csv(nerdData, encoding="ISO-8859-1")

In [57]:
#Import your Player Dictionary Tab
playerDict = "PlayerDict_25SEP19.csv"

playerDict_df = pd.read_csv(playerDict, encoding="ISO-8859-1")

In [58]:
# Verify that the Data Sheet tab imported correctly
nerdData_df.head(5)

,Relegation,Pod Rank,ITC Finish,PodDelta,PodRankerBasis,PodRanker,Pod,Player Name,Primary Faction,Allegiance,...,Score.2,Opponent.3,Score.3,Opponent.4,Score.4,Score.5,Score.6,OOP,Ring Pen.,Season
0,None,1.0,1.0,0.0,1.0,101.0,1.0,Jason Dillon,Necrons,Xenos,...,1030.0,Ryan,1028.0,Jeremy,1030.0,NaN,NaN,NaN,NaN,6.0
1,None,2.0,2.0,0.0,2.0,102.0,1.0,Jeremy Larson,Astra Militarum,Imperial,...,1033.0,Jordan,1034.0,Jason D.,22.0,NaN,NaN,NaN,NaN,6.0
2,None,3.0,3.0,0.0,3.0,103.0,1.0,Junior Aflleje,Imperial Knights,Imperial,...,16.0,Cooper,1039.0,Keith,1025.0,27.0,NaN,NaN,NaN,6.0
3,None,4.0,4.0,0.0,4.0,104.0,1.0,Cooper Waddell,Adeptus Astartes,Imperial,...,23.0,Junior,13.0,Jordan,1028.0,NaN,NaN,NaN,NaN,6.0
4,- 1 POD,5.0,9.0,-1.0,9.0,209.0,1.0,Jason Lenore,Deathwatch,Imperial,...,1029.0,Keith,1031.0,Ryan,NaN,1029.0,NaN,NaN,NaN,6.0

In [59]:
#Clean up the Datasheet tab to only display information required for ITC Point Submission
cleanedNerd_df = nerdData_df[["ITC Finish", "Player Name", "Primary Faction", "Season", "Pod", "Score", "Score.1", "Score.2", "Score.3", "Score.4"]]
cleanedNerd_df.head(5)

,ITC Finish,Player Name,Primary Faction,Season,Pod,Score,Score.1,Score.2,Score.3,Score.4
0,1.0,Jason Dillon,Necrons,6.0,1.0,1029.0,1033.0,1030.0,1028.0,1030.0
1,2.0,Jeremy Larson,Astra Militarum,6.0,1.0,1033.0,1031.0,1033.0,1034.0,22.0
2,3.0,Junior Aflleje,Imperial Knights,6.0,1.0,19.0,1032.0,16.0,1039.0,1025.0
3,4.0,Cooper Waddell,Adeptus Astartes,6.0,1.0,1031.0,1026.0,23.0,13.0,1028.0
4,9.0,Jason Lenore,Deathwatch,6.0,1.0,NaN,20.0,1029.0,1031.0,NaN

In [60]:
# Fill the NAs to prevent future errors
cleanedNerd_df["Score"].fillna(0, inplace=True)
cleanedNerd_df["Score.2"].fillna(0, inplace=True)
cleanedNerd_df["Score.3"].fillna(0, inplace=True)
cleanedNerd_df["Score.4"].fillna(0, inplace=True)
cleanedNerd_df["Score.1"].fillna(0, inplace=True)
cleanedNerd_df.head(5)

,ITC Finish,Player Name,Primary Faction,Season,Pod,Score,Score.1,Score.2,Score.3,Score.4
0,1.0,Jason Dillon,Necrons,6.0,1.0,1029.0,1033.0,1030.0,1028.0,1030.0
1,2.0,Jeremy Larson,Astra Militarum,6.0,1.0,1033.0,1031.0,1033.0,1034.0,22.0
2,3.0,Junior Aflleje,Imperial Knights,6.0,1.0,19.0,1032.0,16.0,1039.0,1025.0
3,4.0,Cooper Waddell,Adeptus Astartes,6.0,1.0,1031.0,1026.0,23.0,13.0,1028.0
4,9.0,Jason Lenore,Deathwatch,6.0,1.0,0.0,20.0,1029.0,1031.0,0.0

In [61]:
#Begin Player Dictionary manipulation
cleanedPlayedDict_df = playerDict_df[["First", "Last", "Email Address"]]
cleanedPlayedDict_df.head(5)

    First     Last              Email Address
0  Junior  Aflleje        shamoke23@yahoo.com
1   James  Carmona       jcarmona84@gmail.com
2   Brett    Cross      brettscross@gmail.com
3   Jason   Dillon  jason.dillonusn@gmail.com
4     Dan    Haack        dbhaack86@gmail.com

In [62]:
# Merge Dictionary Names together
cleanedPlayedDict_df['Player Name'] = cleanedPlayedDict_df['First'] + " " + cleanedPlayedDict_df['Last']
cleanedPlayedDict_df.head(5)

c:\users\keith\anaconda3\envs\pythondata\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

    First     Last              Email Address     Player Name
0  Junior  Aflleje        shamoke23@yahoo.com  Junior Aflleje
1   James  Carmona       jcarmona84@gmail.com   James Carmona
2   Brett    Cross      brettscross@gmail.com     Brett Cross
3   Jason   Dillon  jason.dillonusn@gmail.com    Jason Dillon
4     Dan    Haack        dbhaack86@gmail.com       Dan Haack

In [63]:
#Merge the Data Sheet tab with the Player Dictionary tab
merge_table = pd.merge(cleanedNerd_df, cleanedPlayedDict_df, on="Player Name", how="inner")
merge_table.head(5)

,ITC Finish,Player Name,Primary Faction,Season,Pod,Score,Score.1,Score.2,Score.3,Score.4,First,Last,Email Address
0,1.0,Jason Dillon,Necrons,6.0,1.0,1029.0,1033.0,1030.0,1028.0,1030.0,Jason,Dillon,jason.dillonusn@gmail.com
1,2.0,Jason Dillon,Necrons,5.0,1.0,1036.0,1035.0,1020.0,1035.0,15.0,Jason,Dillon,jason.dillonusn@gmail.com
2,4.0,Jason Dillon,Necrons,4.0,1.0,19.0,1032.0,526.0,12.0,21.0,Jason,Dillon,jason.dillonusn@gmail.com
3,5.0,Jason Dillon,Necrons,3.0,2.0,1027.0,1026.0,1031.0,528.0,1032.0,Jason,Dillon,jason.dillonusn@gmail.com
4,13.0,Jason Dillon,NaN,2.0,3.0,1025.0,21.0,1028.0,1028.0,1027.0,Jason,Dillon,jason.dillonusn@gmail.com

In [64]:
#Narrow the data to the League/Season of your choice.  First league is Season 1, count up sequentially afterwards
super_clean_nerd = merge_table.loc[merge_table["Season"] == 5, :]
super_clean_nerd.head(5)

,ITC Finish,Player Name,Primary Faction,Season,Pod,Score,Score.1,Score.2,Score.3,Score.4,First,Last,Email Address
1,2.0,Jason Dillon,Necrons,5.0,1.0,1036.0,1035.0,1020.0,1035.0,15.0,Jason,Dillon,jason.dillonusn@gmail.com
7,5.0,Jeremy Larson,Astra Militarum,5.0,2.0,1037.0,1038.0,21.0,1037.0,1022.0,Jeremy,Larson,nihmwit@hotmail.com
12,1.0,Junior Aflleje,Imperial Knights,5.0,1.0,27.0,1039.0,1031.0,1035.0,1033.0,Junior,Aflleje,shamoke23@yahoo.com
18,4.0,Cooper Waddell,Genestealer Cult,5.0,1.0,1033.0,1027.0,19.0,1036.0,0.0,Cooper,Waddell,cooperwaddell@gmail.com
24,11.0,Jason Lenore,Deathwatch,5.0,2.0,1026.0,0.0,1027.0,1027.0,21.0,Jason,Lenore,jason.lenore@gmail.com

In [65]:
#Sort the merged table by Season, then Pod, then ITC Finish
sortedData = super_clean_nerd.sort_values(by=['Season', 'Pod', 'ITC Finish'])
sortedData.head(5)

,ITC Finish,Player Name,Primary Faction,Season,Pod,Score,Score.1,Score.2,Score.3,Score.4,First,Last,Email Address
12,1.0,Junior Aflleje,Imperial Knights,5.0,1.0,27.0,1039.0,1031.0,1035.0,1033.0,Junior,Aflleje,shamoke23@yahoo.com
1,2.0,Jason Dillon,Necrons,5.0,1.0,1036.0,1035.0,1020.0,1035.0,15.0,Jason,Dillon,jason.dillonusn@gmail.com
241,3.0,Paul Maxe,Adeptus Custodes,5.0,1.0,1036.0,22.0,1036.0,15.0,1041.0,Paul,Maxe,paulmaxe@cox.net
18,4.0,Cooper Waddell,Genestealer Cult,5.0,1.0,1033.0,1027.0,19.0,1036.0,0.0,Cooper,Waddell,cooperwaddell@gmail.com
244,9.0,John Carlson,Heretic Astartes,5.0,1.0,1031.0,0.0,18.0,1030.0,9.0,John,Carlson,johncarlson14@gmail.com

In [1]:
# Work in Progress, disregard this cell
# for j in sortedData[["Score", "Score.1", "Score.2", "Score.3", "Score.4"]]:
#     for i in sortedData.index:
#             if sortedData.loc[i, j] > 750:
#                 sortedData.loc[i, j] = "W"
#             elif (sortedData.loc[i, j] > 500) and (sortedData.loc[i,'Score'] < 750):
#                 sortedData.loc[i, j] = "T"
#             else:
#                 sortedData.loc[i, j] = "L"
# sortedData.head(5)

In [67]:
# Replace Scores with W/L/T, one column per cell
for i in sortedData.index:
        if sortedData.loc[i,'Score'] > 750:
            sortedData.loc[i,'Score'] = "W"
        elif (sortedData.loc[i,'Score'] > 500) and (sortedData.loc[i,'Score'] < 750):
            sortedData.loc[i,'Score'] = "T"
        else:
            sortedData.loc[i,'Score'] = "L"
sortedData.head(5)

,ITC Finish,Player Name,Primary Faction,Season,Pod,Score,Score.1,Score.2,Score.3,Score.4,First,Last,Email Address
12,1.0,Junior Aflleje,Imperial Knights,5.0,1.0,L,1039.0,1031.0,1035.0,1033.0,Junior,Aflleje,shamoke23@yahoo.com
1,2.0,Jason Dillon,Necrons,5.0,1.0,W,1035.0,1020.0,1035.0,15.0,Jason,Dillon,jason.dillonusn@gmail.com
241,3.0,Paul Maxe,Adeptus Custodes,5.0,1.0,W,22.0,1036.0,15.0,1041.0,Paul,Maxe,paulmaxe@cox.net
18,4.0,Cooper Waddell,Genestealer Cult,5.0,1.0,W,1027.0,19.0,1036.0,0.0,Cooper,Waddell,cooperwaddell@gmail.com
244,9.0,John Carlson,Heretic Astartes,5.0,1.0,W,0.0,18.0,1030.0,9.0,John,Carlson,johncarlson14@gmail.com

In [68]:
# Column 2
for i in sortedData.index:
        if sortedData.loc[i,'Score.1'] > 750:
            sortedData.loc[i,'Score.1'] = "W"
        elif (sortedData.loc[i,'Score.1'] > 500) and (sortedData.loc[i,'Score.1'] < 750):
            sortedData.loc[i,'Score.1'] = "T"
        else:
            sortedData.loc[i,'Score.1'] = "L"
sortedData.head(5)

,ITC Finish,Player Name,Primary Faction,Season,Pod,Score,Score.1,Score.2,Score.3,Score.4,First,Last,Email Address
12,1.0,Junior Aflleje,Imperial Knights,5.0,1.0,L,W,1031.0,1035.0,1033.0,Junior,Aflleje,shamoke23@yahoo.com
1,2.0,Jason Dillon,Necrons,5.0,1.0,W,W,1020.0,1035.0,15.0,Jason,Dillon,jason.dillonusn@gmail.com
241,3.0,Paul Maxe,Adeptus Custodes,5.0,1.0,W,L,1036.0,15.0,1041.0,Paul,Maxe,paulmaxe@cox.net
18,4.0,Cooper Waddell,Genestealer Cult,5.0,1.0,W,W,19.0,1036.0,0.0,Cooper,Waddell,cooperwaddell@gmail.com
244,9.0,John Carlson,Heretic Astartes,5.0,1.0,W,L,18.0,1030.0,9.0,John,Carlson,johncarlson14@gmail.com

In [69]:
# Column 3
for i in sortedData.index:
        if sortedData.loc[i,'Score.2'] > 750:
            sortedData.loc[i,'Score.2'] = "W"
        elif (sortedData.loc[i,'Score.2'] > 500) and (sortedData.loc[i,'Score.2'] < 750):
            sortedData.loc[i,'Score.2'] = "T"
        else:
            sortedData.loc[i,'Score.2'] = "L"
sortedData.head(5)

,ITC Finish,Player Name,Primary Faction,Season,Pod,Score,Score.1,Score.2,Score.3,Score.4,First,Last,Email Address
12,1.0,Junior Aflleje,Imperial Knights,5.0,1.0,L,W,W,1035.0,1033.0,Junior,Aflleje,shamoke23@yahoo.com
1,2.0,Jason Dillon,Necrons,5.0,1.0,W,W,W,1035.0,15.0,Jason,Dillon,jason.dillonusn@gmail.com
241,3.0,Paul Maxe,Adeptus Custodes,5.0,1.0,W,L,W,15.0,1041.0,Paul,Maxe,paulmaxe@cox.net
18,4.0,Cooper Waddell,Genestealer Cult,5.0,1.0,W,W,L,1036.0,0.0,Cooper,Waddell,cooperwaddell@gmail.com
244,9.0,John Carlson,Heretic Astartes,5.0,1.0,W,L,L,1030.0,9.0,John,Carlson,johncarlson14@gmail.com

In [70]:
# Column 4
for i in sortedData.index:
        if sortedData.loc[i,'Score.3'] > 750:
            sortedData.loc[i,'Score.3'] = "W"
        elif (sortedData.loc[i,'Score.3'] > 500) and (sortedData.loc[i,'Score.3'] < 750):
            sortedData.loc[i,'Score.3'] = "T"
        else:
            sortedData.loc[i,'Score.3'] = "L"
sortedData.head(5)

,ITC Finish,Player Name,Primary Faction,Season,Pod,Score,Score.1,Score.2,Score.3,Score.4,First,Last,Email Address
12,1.0,Junior Aflleje,Imperial Knights,5.0,1.0,L,W,W,W,1033.0,Junior,Aflleje,shamoke23@yahoo.com
1,2.0,Jason Dillon,Necrons,5.0,1.0,W,W,W,W,15.0,Jason,Dillon,jason.dillonusn@gmail.com
241,3.0,Paul Maxe,Adeptus Custodes,5.0,1.0,W,L,W,L,1041.0,Paul,Maxe,paulmaxe@cox.net
18,4.0,Cooper Waddell,Genestealer Cult,5.0,1.0,W,W,L,W,0.0,Cooper,Waddell,cooperwaddell@gmail.com
244,9.0,John Carlson,Heretic Astartes,5.0,1.0,W,L,L,W,9.0,John,Carlson,johncarlson14@gmail.com

In [71]:
# Column 5
for i in sortedData.index:
        if sortedData.loc[i,'Score.4'] > 750:
            sortedData.loc[i,'Score.4'] = "W"
        elif (sortedData.loc[i,'Score.4'] > 500) and (sortedData.loc[i,'Score.4'] < 750):
            sortedData.loc[i,'Score.4'] = "T"
        else:
            sortedData.loc[i,'Score.4'] = "L"
sortedData.head(5)

,ITC Finish,Player Name,Primary Faction,Season,Pod,Score,Score.1,Score.2,Score.3,Score.4,First,Last,Email Address
12,1.0,Junior Aflleje,Imperial Knights,5.0,1.0,L,W,W,W,W,Junior,Aflleje,shamoke23@yahoo.com
1,2.0,Jason Dillon,Necrons,5.0,1.0,W,W,W,W,L,Jason,Dillon,jason.dillonusn@gmail.com
241,3.0,Paul Maxe,Adeptus Custodes,5.0,1.0,W,L,W,L,W,Paul,Maxe,paulmaxe@cox.net
18,4.0,Cooper Waddell,Genestealer Cult,5.0,1.0,W,W,L,W,L,Cooper,Waddell,cooperwaddell@gmail.com
244,9.0,John Carlson,Heretic Astartes,5.0,1.0,W,L,L,W,L,John,Carlson,johncarlson14@gmail.com

In [ ]:
# Work in Progress, Attempting to consolidate the above 5 cells into one Loop
#Create two lists for the loop results to be placed
#first_name = []
#second_name = []

# For each row in a varible,
#for row in nerdData_df['Player Name']:
    # Try to,
    #try:
        # Split the row by comma and append
        # everything before the comma to lat
        #first_name.append(row.split(' ')[0])
        # Split the row by comma and append
        # everything after the comma to lon
        #second_name.append(row.split(' ')[1])
    # But if you get an error
   #except:
        # append a missing value to lat
        #first_name.append(np.NaN)
        # append a missing value to lon
        #second_name.append(np.NaN)
        
# Create two new columns from lat and lon
#nerdData_df['First Name'] = first_name
#nerdData_df['Last Name'] = second_name
#nerdData_df.head(5)

In [72]:
# Combine the W/L record into one column, A.K.A. the Win Path
sortedData['Win Path'] = sortedData['Score'] + "/" + sortedData['Score.1'] + "/" + sortedData['Score.2'] + "/" + sortedData['Score.3'] + "/" + sortedData['Score.4']
sortedData.head(5)

,ITC Finish,Player Name,Primary Faction,Season,Pod,Score,Score.1,Score.2,Score.3,Score.4,First,Last,Email Address,Win Path
12,1.0,Junior Aflleje,Imperial Knights,5.0,1.0,L,W,W,W,W,Junior,Aflleje,shamoke23@yahoo.com,L/W/W/W/W
1,2.0,Jason Dillon,Necrons,5.0,1.0,W,W,W,W,L,Jason,Dillon,jason.dillonusn@gmail.com,W/W/W/W/L
241,3.0,Paul Maxe,Adeptus Custodes,5.0,1.0,W,L,W,L,W,Paul,Maxe,paulmaxe@cox.net,W/L/W/L/W
18,4.0,Cooper Waddell,Genestealer Cult,5.0,1.0,W,W,L,W,L,Cooper,Waddell,cooperwaddell@gmail.com,W/W/L/W/L
244,9.0,John Carlson,Heretic Astartes,5.0,1.0,W,L,L,W,L,John,Carlson,johncarlson14@gmail.com,W/L/L/W/L

In [73]:
# Clean up the remaining Data in the relevant columns, in order.  This does not include Teams
cleanedNerd_df = sortedData[["ITC Finish", "Email Address", "First", "Last", "Primary Faction", "Win Path"]]
cleanedNerd_df.head(5)

,ITC Finish,Email Address,First,Last,Primary Faction,Win Path
12,1.0,shamoke23@yahoo.com,Junior,Aflleje,Imperial Knights,L/W/W/W/W
1,2.0,jason.dillonusn@gmail.com,Jason,Dillon,Necrons,W/W/W/W/L
241,3.0,paulmaxe@cox.net,Paul,Maxe,Adeptus Custodes,W/L/W/L/W
18,4.0,cooperwaddell@gmail.com,Cooper,Waddell,Genestealer Cult,W/W/L/W/L
244,9.0,johncarlson14@gmail.com,John,Carlson,Heretic Astartes,W/L/L/W/L

In [74]:
#Export file when compelted - Name the csv as needed
cleanedNerd_df.to_csv("NurgleFinal.csv", index=False, header=True)